

.hg850{
	height: 850px;
}
.hg800{
	height: 800px;
}

.hg600{
	height: 600px;
}
.hg550{
	height: 500px;
}
.wd{
	width: 90%;
	height: 410px;
}
.hg500{
	height: 520px;
}
.mt{
	margin-top: 150px;
}
.wd-30{
	width: 60px;
}
.d{
	background: #37393b;
}